<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="connectString" connectionString="XpoProvider=MSSqlServer;data source=103.9.157.198\MSSQLSERVER2012;user id=gpm_codeCaFeThotNot;password=CaFeThotNot@1122;initial catalog=gpm_codeCaFeThotNot;Persist Security Info=true" />
    </connectionStrings>
</configuration>